{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #836FFF;
    color:#fff;
text-align: center;
}
nav{
    background-color: #00FFFF;
    padding: 10px;
    position:fixed;
    width: 90%;
    top:0;
}
nav ul{
    list-style: circle;
}
nav ul li{
display: inline;
margin:20px;
}